{% extends 'blog/base.html'%}
{% block content %}
<h1>{{post.title}}</h1>
<h6>author:{{post.author}} at {{post.created}}</h6>
<hr>
<p>{{post.body}}</p>
<div class="mb-3 col-6">
    <form method="POST">
    {% csrf_token %}
    {% for field in form %}
        {{field.errors}}
        {{field.label_tag}}
        {{field}}
        <br>
    {% endfor %}
        <!-- {{form.as_p}} -->
    <input type="submit" value="Set Comment">
    </form>
    {% with comments.count as total_comments %}
    <h5>number of comments : {{total_comments}}</h5>
{% endwith %}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">Share</a>
    </p>
    <div class=col-6>
        {% for cm in comments %}
            {{cm.name}} is written: {{cm.body}}
            <hr>
            <br/>
        {% endfor %}
    </div>
{% endblock content %}