{% extends 'blog/base.html'%}

{% block content %}
{% if query %}
<h1>
    Posts contains {{query}}
</h1>
<h3>
    {% with resaults.count as total_resaults %}
      Found {{total_resaults}} resault
      {% endwith %}
</h3>
{% for resault in resaults %}
<h3>
    <a href="{{resault.get_absolute_url}}">{{resault.title}}</a></h3>
    <p>{{resault.body}}</p>

{% endfor %}
{% endif %}
<h1>Search Form</h1>
<form action="" method="GET">
    {{form.as_p}}
    <input type="submit" value="search">
</form>
{% endblock content %} 